/*--Reset CSS Settings--*/
*{
    margin: 0px;
    padding: 0px;
}
.wrapper{
    width: 960px;
    height: 1000px;
    background-color: #f7f7f7;
    outline: 2px line black;
    padding: 20px;

}

.header h1{
    display: inline-block;
    font-size: 33px;
    
}

.header h2{
    display: inline-block;
    float: right;
    margin: 0px;
   
}

.main_content{
    width: 960px;
    height: 960px;
    background-color: #201014;
    outline: 2px line black;
    
}

